<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<p>権限: <%= @user.admin %></p>

<%# 管理者限定でadmin/user/indexを表示させる %>
<% if @user.admin? %>
  <%= link_to 'Taskユーザー一覧',admin_users_path%>
<%  end %>

<p><%= link_to "タスク一覧画面へ戻る", tasks_path %></p>
